{% block body %}

    <h1>Nouvelle épisode {{ episode.title }} créer</h1>

    <p>Bonjour le nouvelle épisode {{ episode.title }} a bien été créer</p>

    <p>Sommaire : {{episode.synopsis }} </p>

{% endblock %}
