{% extends 'base.html.twig' %}

{% block title %}Edit Program{% endblock %}

{% block body %}
    <h1>Edit Program</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Edité'}) }}

    <a class="btn btn-dark m-2" href="{{ path('program_index') }}">Retour à la liste</a>
{% endblock %}
