<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nouvelle série</title>
</head>
<body>
<h1>La nouvelle série {{ program.title }} a été créer</h1>
<p>Bonjour, la nouvelle séries {{ program.title }} à bien été créer</p>
<p>Sommaire : {{program.summary }}
</body>
</html>
