<div class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary spacenav">
        <a class="navbar-brand d-none d-lg-block" href="/">Wild Series</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle text-light" href="/categories/" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catégories
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Catégorie 1</a>
                        <a class="dropdown-item" href="#">Catégorie 2</a>
                        <a class="dropdown-item" href="#">Catégorie 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle text-light" href="/programs/" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Séries
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Acteur 1</a>
                        <a class="dropdown-item" href="#">Acteur 2</a>
                        <a class="dropdown-item" href="#">Acteur 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acteurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Acteur 1</a>
                        <a class="dropdown-item" href="#">Acteur 2</a>
                        <a class="dropdown-item" href="#">Acteur 3</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>